.Teams.main{
   display: grid;
   grid-template-columns: minmax(200px, 300px) 3fr;
   grid-template-rows: auto 1fr;
   grid-gap: 50px 30px;
   grid-template-areas: 
                    'Sidebar ContainerTop'
                    'Sidebar ContainerBottom';
                
   padding-top: 70px;
}

.Teams__Sidebar{
    grid-area: Sidebar;
}

.Teams__Container.top{
    grid-area: ContainerTop;
}

.Teams__Container.bottom{
    grid-area: ContainerBottom;
}   

/*--------------------------------Team Snippet-----------------------------------*/

.Teams__Snippet{
    background: #fff;
    border-radius: 15px;
    padding: 20px;
    box-shadow: 2px 2px  2px #858585;
    min-height: 75vh;
    max-width: 300px;
    text-align: initial;
}

.Teams__Snippet-title{
    font-weight: bold;
}

.Teams__Snippet-items{
    padding: 20px 0;
}

.Teams__Snippet-item{
    background: var(--primary__Color);
    margin-bottom: 10px;
    line-height: 20px;
    padding: 10px;
    border-radius: 5px;
}

.Teams__Tasks__Data{
    font-size: 12px;
    font-weight: bold;
    color: #474747;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    column-gap: 10px;
    margin: 10px 0;
}

.Teams__Tasks__Data span{
    background: #fff;
    border-radius: 5px;
    padding: 0 5px;
}


/*--------------------------------Team Tasks-----------------------------------*/

.TeamTasks__Snippet{
    position: relative;
    max-height: 60vh;
    overflow: hidden;
}

.TeamTasks__Snippet-title{
    padding: 20px 0;
    text-align: initial;
    font-weight: bold;
}

.TeamTasks__Data{
    flex: 1;
    text-align: initial;
    padding: 0 10px;
    line-height: 20px;
    display: grid;
    grid-template-columns: 3fr minmax(100px, 10%) minmax(100px, 20%) minmax(100px, 10%);
    grid-gap: 10px;
    justify-items: left;
    padding-left: 25px;
}

.TeamTasks__Data span{
    color: #474747;
    font-size: 13px;
}

.TeamsTasks__Name{
    font-size: 15px!important;
    font-weight: bold;
    color: #333;
}

@media only screen and (max-width: 940px) {
   
    .Teams.main{
        grid-template-rows: minmax(75vh, auto) 1fr;
        grid-gap: 15px 40px;
        grid-template-areas: 
                'Sidebar ContainerTop'
                'ContainerBottom ContainerBottom';
     } 

    .Teams__Container.top{
        padding: 60px 0;
    }

    .TeamTasks__Data{
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-left: 8%;
    }

}


@media only screen and (max-width: 570px) {
   
    .Teams.main{
        grid-template-rows: minmax(10vh, auto) minmax(75vh, auto) 1fr;
        grid-gap: 15px 50px;
        grid-template-areas: 
                'ContainerTop ContainerTop'
                'Sidebar Sidebar'
                'ContainerBottom ContainerBottom';
        padding-top: 50px;
     } 

    .Teams__Container.top{
        padding: unset;
    }
    

}