.Home__Container.top {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  max-height: calc(50vh - 60px);
}

.Home__AddBtns {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 30px 0;
}

.Home__AddBtns .btn {
  margin-right: 20px;
}

.Home__Img {
  text-align: left;
  max-height: 200px;
  width: 100%;
  padding: 20px 0;
}

.Home__Img img {
  height: 100%;
  object-fit: contain;
  max-height: 200px;
}

.Home__Container.bottom {
  margin: 20px 0;
}

.Latest .Content {
  background: var(--secondary__Color2);
  border-radius: 10px;
  padding: 10px;
}

.Recent__Item {
  border-radius: 10px;
  height: 100%;
  border: 2px solid var(--secondary__Color2);
}

.Recent .Content {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.Recent p {
  padding: 10px;
}

.Recent .head {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
}

.Recent .head .banner {
  background: var(--primary__Color);
  padding: 0 5px;
  border-radius: 5px;
  white-space: nowrap;
  height: 20px;
  margin-left: 20px;
  font-size: 14px;
  text-decoration: none;
}

.Recent .head .Title {
  font-weight: bold;
}

.Recent .Description {
  flex: 1;
}

.Recent .Duedate {
  font-size: 14px;
  color: #464545;
  margin: 5px 0;
  align-self: flex-end;
}

.Home .OrderByBtns__Wrapper.sticky {
  position: fixed;
  top: 0;
  z-index: 4;
  padding: 10px 0;
  background: var(--primary__Color2);
  width: 100%;
}

@media only screen and (max-width: 1000px) {
  .Home__Container.top {
    display: block;
    max-height: unset;
  }

  .Home__AddBtns {
    justify-content: center;
    margin: 30px 0 10px;
  }

  .Home__AddBtns .btn {
    margin-right: 10px;
  }

  .Home__Img {
    text-align: center;
    height: 300px;
    padding: 20px;
  }
}

@media only screen and (max-width: 700px) {
  .Home .OrderByBtns__Wrapper.sticky {
    top: 45px;
  }
}

@media only screen and (max-width: 500px) {
  .Home__Img {
    min-height: 200px;
    padding: 20px 0 20px 40px;
  }

  .Home__Img img {
    height: 100%;
    object-fit: contain;
    max-height: 200px;
  }

  main {
  }

  .Home__AddBtns {
    flex-direction: column;
    position: absolute;
  }

  .Home__AddBtns .btn {
    margin-bottom: 15px;
  }
}
