.Home__Container.top{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    max-height: calc(50vh - 60px);
}

.Home__AddBtns{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 30px 0;
}

.Home__AddBtns .btn{
    margin-right: 20px;
}

.Home__Img{
    text-align: left;
    max-height: 200px;
    width: 100%;
    padding: 20px 0;
}

.Home__Img img{
    height: 100%;
    object-fit: contain;
    max-height: 200px;
}

.Home__Container.bottom{
   margin-top: 20px;
}

.Latest{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    overflow: hidden;
}

.Latest__Items{
    width: 100%;
    display: flex;  
}

.Latest .Item{
    box-shadow: 2px 1px  1px #c4c4c4;
    border-radius: 10px;
    margin: 10px 5px;
    width: 100%;
    height: 100%;
    text-align: initial;
    margin-bottom: 1em;
    position: relative;
    line-height: 25px;
}

.Latest .Ctrl__Btns{
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Latest .Ctrl__Btn{
    background: var(--primary__Color2);
    border: 2px solid #333;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    cursor: pointer;
}

.Latest .Ctrl__Btn:hover{
    background: var(--secondary__Color2);
}

.Latest .Ctrl__Btn:active{
    transform: scale(.88);
}

.Latest .Item .Label{
    position: absolute;
    content: 'content';
    top: -7px;
    right: 0;
    margin: 2px 10px;
    padding: 3px 10px;
    border-radius: 5px;
    font-size: 12px;
    font-weight: bold;
}

.Latest .Content{
    background: var(--secondary__Color2);
    border-radius: 10px;
    padding: 10px;
}

.Latest .Title{
    font-weight: bold;
}

.Latest .Duedate{
    font-size: 14px;
    color: #464545;
    margin: 5px 0;
}

.Latest p{
    display: flex;
    align-items: center;
    padding: 10px;
}

.Latest .Title,
.Latest span{
    margin-right: 20px;
}

@media only screen and (max-width: 1000px){
    .Home__Container.top{
        display: block;
        max-height: unset;
    }

    .Home__AddBtns{
        justify-content: center;
        margin: 30px 0 10px;
    }

    .Home__AddBtns .btn{
        margin-right: 10px;
    }

    .Home__Img{
        text-align: center;
        height: 300px;
        padding: 20px;
    }
    
    .Latest p{
        flex-direction: column;
        padding: 10px 8px;
    }
    
    .Latest span{
        margin-right: 10px;
    }
}

@media only screen and (max-width: 500px){
    .Home__Img{
        min-height: 200px;
        padding: 20px 0 20px 40px;
    }
    
    .Home__Img img{
        height: 100%;
        object-fit: contain;
        max-height: 200px;
    }
    
    main{
       
    }
    .Home__AddBtns{
        flex-direction: column;
        position: absolute;
    }

    .Home__AddBtns .btn{
        margin-bottom: 15px;
    }
    
}