.Project__Container.top{
    min-height: 30vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.Project__Container.bottom{
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 30px;
}

.Projects__Snippet-title{
    font-weight: bold;
    padding: 20px 0;
    text-align: initial;
}


.ToDoProjects .Projects__Snippet-items{
    padding: 15px 20px;
    margin-top: 20px;
    background: #fff;
    box-shadow: 2px 2px  2px #858585;
}

.ToDoProjects .Projects__Data{
    flex: 1;
    text-align: initial;
    position: relative;
    display: grid;
    grid-template-columns: 3fr minmax(100px, 10%) minmax(100px, 10%);
}

.ToDoProjects .Projects__Data span{
    color: #474747;
    font-size: 13px;
}

.ToDoProjects .Projects__Name{
    font-size: 15px!important;
    font-weight: bold;
    color: #333;
}

.ToDoProjects .Projects__Priority{
    font-weight: bold;
    font-size: 12px;
}

@media only screen and (max-width: 900px){
    .Project__Container.top{
        min-height: 20vh;
        padding-top: 20px;
    }
    .Project__Container.bottom{
        display: block;
    }
}