.SingleProject__Container.top{
    min-height: 40vh;
}

.SingleProject__Container.bottom{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    column-gap: 20px;
    row-gap: 20px;
    flex-wrap: wrap;
}

.bottom .SingleProject__InnerContainer{
    flex: 1;
    min-width: 300px;
    max-width: 600px;
}

.ProjectDeliverables__Snippet{
    background: var(--primary__Color);
    margin: 20px 0;
    padding: 20px 15px;
}

.ProjectDeliverable__Items{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.ProjectDeliverable__Item{
   background: var(--secondary__Color2);
   display: flex;
   justify-content: space-between;
   align-items: center;
   line-height: 25px;
   margin-bottom: 20px;
   padding: 10px 6px;
   border-radius: 10px;
}

.ProjectDeliverable__ItemName{
    flex: 1;
    text-align: initial;
    margin-left: 15px;
}

